@use "../abstracts" as *;

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;

  i,
  i.material-symbols, i.material-symbols-outlined,
  i.material-symbols-rounded, i.material-symbols-sharp,
  i.material-icons,
  &:before {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
  }

  &:before {
    content: '\E5CC';
    font-family: var(--md-icon-font);
    font-variation-settings:
      "FILL" var(--md-icon-fill),
      "wght" var(--md-icon-weight),
      "GRAD" var(--md-icon-grade),
      "opsz" var(--md-icon-optical-size);
  }

  &:first-child:before {
    visibility: hidden;
  }
}
